@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    justify-content: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #1f2937;
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight:bold;
}

.links-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section-1 {

}

.section-2 {

}

.quote {

}

.sign-up {

}

.footer {

}